* {
    margin: 0;
    padding: 0;
    box-sizing: border-box-;
}

body {
    font-family: 'Dela Gothic One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
    padding: 1rem;
}

.card {
    background-color: aqua;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkmagenta;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hotpink;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}